# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Build output
dist/
build/
ios/Pods/
android/.gradle/
android/app/build/
*.keystore

# Editor folders
.vscode/
.idea/
